@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .buttonMain {
        @apply px-4 py-2 rounded border border-[#0656FE] bg-white text-[#0656FE] text-sm hover:shadow-custom transition duration-200
    }
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}


@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}


.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-delay: 100ms;
}

.fadeInUpDelay300 {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-delay: 1000ms;
}

.fadeInUpDelay600 {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-delay: 1500ms;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

html {
    scroll-behavior: smooth;
}


.editor-container {
    height: 100vh;
    /* Full viewport height */
    display: flex;
    flex-direction: column;
    font-family: var(--be-vietnam-pro);
}

.froala-editor {
    height: 100%;
    /* Ensure the editor takes full height */
}

@layer base {

    .editor-container ul,ol {
        list-style: revert;
    }

    .editor-container h1 {
        @apply text-4xl;
    }

    .editor-container  h2 {
        @apply text-3xl;
    }

    .editor-container h3 {
        @apply text-2xl
    }

    .editor-container h4 {
        @apply text-xl
    }

    .editor-container a {
        @apply text-blue-600 underline;
    }



    :root {
        --radius: 0.5rem
    }
}